{
  "singleQuote": true
}

Day 63 of #100DaysOfCode Challenge! 🚀

Today, I focused on nested routes in my project! 🚀 Implemented a seamless flow for reviews, organized my project with handy factory functions, and ensured tight security with authentication and authorization protocols. Also worked on improving read performance by indexing tours.💻


💻 